<main role="main" class="container">
    <div class="jumbotron">
        <h1>Studenti</h1>
        <table class="table">
            <tr>
                <th>ime</th>
                <th>prezime</th>
                <th>broj indeksa</th>
                <th>akcija</th>
            </tr>
            <tr *ngFor="let student of studenti">
                <td>{{student.ime}}</td>
                <td>{{student.prezime}}</td>
                <td>{{student.brojIndeksa}}</td>
        
                <td><a class="btn btn-primary btn-sm" href="students/{{student.id}}">Detalji</a>
                    <button type="button" class="btn btn-primary btn-sm" (click)="delete(student)">Obrisi</button>
                </td>
            </tr>
        </table>
    </div>
</main>
<main role="main" class="container">
    <form (ngSubmit)="saveStudent()">
        <div class="form-group">
            ime:<input class="form-control" name="ime" [(ngModel)]="student.ime">
        </div>
        <div class="form-group">
            prezime:<input name="prezime" class="form-control" [(ngModel)]="student.prezime">
        </div>
        <div class="form-group">
            broj indeksa:<input name="brojIndeksa" class="form-control" [(ngModel)]="student.brojIndeksa"><br>
        </div>
        <input class="btn btn-primary" type="submit" value="sacuvaj">
    </form>
</main>